/*PC、スマホ共通スタイル*/
 body {
  max-width: 1080px;
  margin: 0 auto 0 auto;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
 }

  /*ナビゲーションのレイアウト*/
  #nav-pc {
    font-size: 14px;
    display: block;
  }

  #nav-pc ul {
    display: flex;
    padding-right: 0;
  }

  #nav-pc li {
    list-style: none;
  }

/*ナビゲーションの装飾設定*/
 #nav-pc a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
 }

/* PC用（デフォルト） */
#nav-pc {
  display: block;
}

/* PC用（767px以上） */
@media screen and (min-width: 767px) {
  #nav-sp {
    display: none;
  }

#menu-sp {
  display: none;
}

#nav-sp {
  display: none;
}
#nav-pc {
  display: block;
}

/* スマホ用（767px以下） */
@media screen and (max-width: 767px) {
  #nav-pc {
    display: none;
  }
}

 body {
  min-width: 375px;
  margin: 0;
 }

 #menu-sp {
  float: right;
  padding: 0;
 }

 #nav-sp {
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
 }

 #nav-sp ul {
  padding: 0;
 }

 #nav-sp li {
  list-style: none;
 }

 #close {
  position: absolute;
  top: 20px;
  right: 20px;
 }

 #logo-sp {
  margin: 80px 0 30px 20px;
 }

 #nav-sp a {
   display: block;
 }

 #nav-sp a:link {
  color: #ffffff;
 }

 #nav-sp a:visited {
   color: #ffffff;
 }

 #nav-sp a:hover {
  color: #ffffff;
 }

 #nav-sp a:active {
  color: #ffffff;
 }

 #nav-sp .menu {
  text-decoration: none;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  height: 44px;
  font-size: 16px;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
  }

  #main-visual>img {
  width: 100%;
  margin-left: 80px;
  padding: 20px;
  }